@font-face { font-family: bebas; src: url('../fonts/BEBAS___.TTF'); }

@font-face { font-family: InterstateCondensedBold; src: url('../fonts/ufonts.com_interstate-boldcondensed.ttf'); }

@font-face { font-family: interstate; src: url('../fonts/ufonts.com_interstate-regular.ttf'); }


