
@font-face {
  font-family: 'InterstateCondensedBold';
  src: url('Interstate-BoldCondensed.eot?#iefix') format('embedded-opentype'),  url('Interstate-BoldCondensed.woff') format('woff'), url('Interstate-BoldCondensed.ttf')  format('truetype'), url('Interstate-BoldCondensed.svg#Interstate-BoldCondensed') format('svg');
  font-weight: normal;
  font-style: normal;
}
